// bower:scss
// endbower

/* Vars */
$mainColor: #fefefe;
$aboutColor: #527d86;
$textShadow: 0 1px 5px #000;
$cForm: #fff;

@mixin tOpacity {
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}
@mixin easeOpacity {
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}
@mixin transitionAll {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
@mixin tAllFastOut {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
@mixin transEaseAll {
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
@mixin grayscale {
  @include transitionAll;  

  -webkit-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  filter: grayscale(80%);

  &:hover {
    -webkit-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(05);
    transform: scale(1.02, 1.02); 
  }
}
@mixin beforeCenter {
  &:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
    margin-left: -4px;
  }
}
/* End Vars */

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #000;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $mainColor;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

h3 {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  color: $mainColor;
  font-weight: 300;

  hr {
    border: 1px solid #fff;
  }
}

a {
  color: $mainColor;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  opacity: 1;
  @include tOpacity;
}
.clearfix {
  &:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
  };
}
/*-------------------------------------------------------------------*/

#main-header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 270px;  
  text-align: center;
  overflow: auto;

  @include beforeCenter;
}

/* Mobile menu*/
.main-menu-mobile {
  position: fixed;
  top: -40px;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  text-align: center;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
}
.mobile-logo-img {
  display: inline-block;
  margin: 4px auto;
  height: 32px;
}
.mobile-menu-lines {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 34px;
  padding: 4px 0px 5px 0;

  li {
    background-color: #fff;
    margin: 5px 2px;
    height: 4px;
    border-radius: 2px;
  }
}
.mobile-navigation-modal {
  position: fixed;
  left: -300px;
  top: 40px;
  width: 300px;
  z-index: 1000;
  
  @include transEaseAll;
}
.mobile-navigation-modal-active {
  left: 0 !important;
  right: 0;
  margin: auto;
}
.mobile-menu-overlay-active {
  opacity: 1 !important;
  visibility: visible !important;

  @include easeOpacity;
}
.mobile-modal-list {
  li {
    text-transform: uppercase;

    a {
      display: block;
      width: 100%;
      padding: 20px 0;
      text-align: center;
    }
  }
}
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 900;
  opacity: 0;
  visibility: hidden;
}
/* = = = */

.block-wrap {
  width: 100%;
  position: relative;
}
.block-area {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1220px;
  position: relative;
}
.header-main-img {
  background: url(../images/header-bg.jpeg) no-repeat center;
  background-size: cover;
}
.header-w-img {
  background: #000;
  background: -webkit-radial-gradient(center, circle cover, #3E3E3E 0,#000000 100%);
  background: -o-radial-gradient(center, circle cover, #3E3E3E 0,#000000 100%);
  background: -ms-radial-gradient(center, circle cover, #3E3E3E 0,#000000 100%);
  background: -moz-radial-gradient(center, circle cover, #3E3E3E 0,#000000 100%);
  background: radial-gradient(center, circle cover, #3E3E3E 0,#000000 100%);
}
.content {
  margin-left: 270px;
  position: relative;
  width: calc(100% - 270px);
  min-height: 100%;
  height: auto;
  padding: 10% 0 40px 0;
}
.content-landing {
    width: calc(100% - 270px);
    margin-left: 270px;
    position: relative;
}
.over-auto {
  /*overflow: auto;
  height: 100%;*/
}

.header-content {
  display: inline-block;
  vertical-align: middle;
}
.logo-img {
  @include easeOpacity;
  opacity: 1;

  &:hover {
    opacity: 0.7;
  }
}
#main-nav {
  margin-top: 50px;
}
.nav-list {
  li {
    a {
      text-transform: uppercase;
    }
    margin-bottom: 38px;
  }
  li a:hover {
    opacity: 0.7;
  }
}

/* === Gallery === */
.gallery-content, .cases-content {
  overflow: hidden;
}
.gallery-item {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;    

  @include grayscale;
}
.g-i-scale-1 {
  top: 0;
  left: 0;
  height: 50%;
  width: 60%;
  overflow: hidden;
  position: absolute;
}
.g-item-2 {  
  background-image: url(../images/g-item-2.jpg);
  background-position: right;
  z-index: 10;
}
.g-i-scale-2 {
  top: 0;
  left: 60%;
  height: 75%;
  width: 40%;
  overflow: hidden;
  position: absolute;
}
.g-item-4 {  
  background-image: url(../images/g-item-4.jpg);
  z-index: 10;
}
.g-i-scale-3 {
  top: 50%;
  left: 0;
  height: 25%;
  width: 25%;
  overflow: hidden;
  position: absolute;
}
.g-item-5 {  
  background-image: url(../images/g-item-5.jpg);
  z-index: 10;
}
.g-i-scale-4 {
  top: 75%;
  left: 0;
  height: 25%;
  width: 25%;
  overflow: hidden;
  position: absolute;
}
.g-item-6 {  
  background-image: url(../images/about-bg.jpg);
  z-index: 10;
}
.g-i-scale-5 {
  top: 50%;
  left: 25%;
  height: 50%;
  width: 35%;
  overflow: hidden;
  position: absolute;
}
.g-item-9 {  
  background-image: url(../images/g-item-9.jpg);
  z-index: 10;
}
.g-i-scale-6 {
  top: 75%;
  left: 60%;
  height: 25%;
  width: 40%;
  overflow: hidden;
  position: absolute;
}
.g-item-11 {  
  background-image: url(../images/g-item-11.jpg);
  z-index: 10;
}

/* === Cases === */
.case-item-content {
  display: inline-block;
  vertical-align: middle;
  opacity: 1;

  @include easeOpacity;

  img {
    display: block;
  }
  .auto-enter {
    margin: 130px auto 0 auto;
  }
}

.case-item {
  position: absolute;
  width: 33.3333%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  height: 100%;
  text-align: center;

  @include grayscale;

  @include beforeCenter;

  &:hover .case-item-content {
    opacity: 0.8;
  };
}
.c-item-1 {
  background-image: url(../images/c-item-1.jpg);
  left: 0;
}
.c-item-2 {
  background-image: url(../images/c-item-2.jpg);
  left: 33.3333%;
}
.c-item-3 {
  background-image: url(../images/c-item-3.jpg);
  left: 66.6666%;
}

/* === About === */
.about-bg {
  padding: 0;
  height: 100%;

  @include beforeCenter;
}
.about-bg-block {
  background: url(../images/about-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  right: 0;
  /* left: 270px; */
  width: 100%;
  height: 100%;
  z-index: -9999;
}
.about-wrap {
  text-align: center;
  display: inline-block;
}
.about-content-wrap {
  display: inline-block;
  vertical-align: middle;
}
.about-title {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.about-text {
  color: #fff;
  text-align: left;
  position: relative;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100 */
  background: rgba(0, 0, 0, 0.1); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 0, 0, 0.5)), color-stop(100%,rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-8 */
}
.abot-text-in {
  border: 2px solid #fff;
  border-right: transparent;
  border-left: transparent;
  margin: 0 10%;
  position: relative;
}
.about-main-byyd {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 55%;
}
.about-byyd-text {
  float: left;
  width: 28%;

  p {
    text-shadow: 0 0 7px #000;
    color: #fff;
    font-size: 20px;
    padding-left: 68px;
    position: relative;

    span {
      position: absolute;
      left: -6px;
      font-size: 90px;
    }
  }
}
.about-bold {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.about-footer {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: right;
  text-shadow: 0 0 7px #000;
  width: 55%;
  float: right;
  margin-top: 24px;
  margin-right: 10%;
}
.about-phones {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 160px;
  height: 100%;
}

/* === Advantages === */
.block-ours-adv {
  background-color: #fefcf4;
  padding: 100px 0 50px 0;
  text-align: center;
}
.block-title {
  color: #424242;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}
.block-some-text-middle {
  text-align: center;
  margin: 30px 0;
  font-size: 24px;
  color: #474747;
}
.ours-adv-img {
  margin: 0 auto;
  display: block;
  max-width: 90%;
}
.block-info-adv {
  background: url(../images/video-mask.png) repeat center, url(../images/infoblock.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 190px 0 320px 0;
}
.block-info-text {
  color: #fff;
  font-size: 30px;
  float: left;
  width: 712px;
   text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.62);
}
.block-bonus {
  padding: 70px 0 20px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b9b6b0+0,fefcf4+100 */
  background: #b9b6b0; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjliNmIwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmNmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg,  #b9b6b0 0%, #fefcf4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#b9b6b0), color-stop(100%,#fefcf4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #b9b6b0 0%,#fefcf4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #b9b6b0 0%,#fefcf4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #b9b6b0 0%,#fefcf4 100%); /* IE10+ */
  background: linear-gradient(45deg,  #b9b6b0 0%,#fefcf4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9b6b0', endColorstr='#fefcf4',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.bonus-spot {
  position: relative;
}
.bonuns-phones {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}
.bonus-title {
  color: #191919;
  font-size: 30px;
  text-transform: uppercase;
  padding-left: 80px;
}
.bonus-list {
  display: inline-block;
  margin-top: 25px;
  padding-bottom: 90px;
  position: relative;
  z-index: 100;

  div {
    width: 426px;
    height: 125px;
    color: #fff;
    font-size: 22px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.77);    
  }
}
.bonus-green {
  background: url(../images/bonus-green.png) no-repeat center;
  background-size: contain;
  padding: 38px 75px;
}
.bonus-red {
  background: url(../images/bonus-red.png) no-repeat center;
  background-size: contain;
  padding: 48px 75px;
}
.bonus-blue {
  background: url(../images/bonus-blue.png) no-repeat center;
  background-size: contain;
  padding: 25px 75px;
}
.bonus-pink {
  background: url(../images/bonus-pink.png) no-repeat center;
  background-size: contain;
  padding: 25px 75px;
}
.bonus-shadow{
  position: absolute;
  left: 22px;
  bottom: 0;
}
.bonus-adv-shadow {
  margin-top: 50px;
  max-width: 90%;
}

/* === Cases === */
.hyundai-logo-img, .bmw-logo-img, .toyota-logo-img {  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
}
.hyundai-logo-img {
  background-image: url(../images/huyndai-logo-img.jpg);
}
.bmw-logo-img {
  background-image: url(../images/bmw-logo-img.jpg);
}
.toyota-logo-img {
  background-image: url(../images/toyota-logo-img.jpg);
}
.bmw-logo-label, .toyota-logo-label {
  margin: 205px auto;
  display: block;
}
.hyundai-logo-label {
  margin: 205px auto 205px 10%;
  display: block;
  float: left;
}
.toyota-logo-label {
    display: block;
    float: right;
    margin-right: 100px;
}
.hyundai-about-top, .bmw-about-top, .toyota-about-top {
  background-color: #fff;
  padding: 40px 0 20px 0;
}
.hyundai-about-title, .bmw-about-title, .toyota-about-title {
  text-align: center;
  color: #272727;
  font-size: 30px;
  text-transform: uppercase;
}
.hyundai-about-text, .bmw-about-text, .toyota-about-text {
  margin: 60px 0;
  float: left;
  width: 65%;
}
.hyundai-about-top, .bmw-about-top, .toyota-about-top {
  p {
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 300;
  }
  span {
    font-weight: 700;
  }
}
.toyota-about-top {
  span {
    color: #b60323;
  }
}
.hyundai-about-top {
  span {
    color: #007468;
  }
}
.bmw-about-top {
  span {
    color: #027b99;
  }
}
.hyundai-column-text, .bmw-column-text, .toyota-column-text {
  float: left;
  width: 50%;
  padding-right: 60px;
}
.hyundai-column-text:last-child, .bmw-column-text:last-child,
.toyota-column-text:last-child {
  padding-right: 0;
}
.hyundai-about-bottom, .bmw-about-bottom, .toyota-about-bottom {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d9b9a+0,508e8d+100 */
  background: #5d9b9a; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNWQ5YjlhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUwOGU4ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  #5d9b9a 0%, #508e8d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#5d9b9a), color-stop(100%,#508e8d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #5d9b9a 0%,#508e8d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #5d9b9a 0%,#508e8d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #5d9b9a 0%,#508e8d 100%); /* IE10+ */
  background: linear-gradient(135deg,  #5d9b9a 0%,#508e8d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d9b9a', endColorstr='#508e8d',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  padding: 20px 0 55px 0;

  .hyundai-about-text {
    padding-right: 84px;

    p {
      color: #fff;
      font-size: 22px;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.46);
    }
  }
}
.hyundai-about-bottom {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d9b9a+0,508e8d+100 */
  background: #5d9b9a; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNWQ5YjlhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUwOGU4ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  #5d9b9a 0%, #508e8d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#5d9b9a), color-stop(100%,#508e8d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #5d9b9a 0%,#508e8d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #5d9b9a 0%,#508e8d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #5d9b9a 0%,#508e8d 100%); /* IE10+ */
  background: linear-gradient(135deg,  #5d9b9a 0%,#508e8d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d9b9a', endColorstr='#508e8d',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.toyota-about-bottom {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#afdff7+0,627d8b+100 */
  background: #afdff7; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYWZkZmY3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYyN2Q4YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  #afdff7 0%, #627d8b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#afdff7), color-stop(100%,#627d8b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #afdff7 0%,#627d8b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #afdff7 0%,#627d8b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #afdff7 0%,#627d8b 100%); /* IE10+ */
  background: linear-gradient(135deg,  #afdff7 0%,#627d8b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afdff7', endColorstr='#627d8b',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  color: #494948;
}
.hyundai-phones, .bmw-phones, .toyota-phones {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 38%; 
}
.bmw-phones, .toyota-phones {
  width: 32%;
}

.hyundai-example, .toyota-example, .bmw-example {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 60px;
}
.toyota-example {
  padding-bottom: 90px;
}
.bmw-example {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e0e0+0,030303+100 */
  background: #e0e0e0; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTBlMGUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAzMDMwMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg,  #e0e0e0 0%, #030303 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e0e0e0), color-stop(100%,#030303)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #e0e0e0 0%,#030303 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #e0e0e0 0%,#030303 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #e0e0e0 0%,#030303 100%); /* IE10+ */
  background: linear-gradient(45deg,  #e0e0e0 0%,#030303 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#030303',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  padding-bottom: 90px;
}
.hyundai-example {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e0e0+0,030303+100 */
  background: #e0e0e0; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTBlMGUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAzMDMwMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg,  #e0e0e0 0%, #030303 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e0e0e0), color-stop(100%,#030303)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #e0e0e0 0%,#030303 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #e0e0e0 0%,#030303 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #e0e0e0 0%,#030303 100%); /* IE10+ */
  background: linear-gradient(45deg,  #e0e0e0 0%,#030303 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#030303',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  border-bottom: 26px solid #b7b7b6;
}
.handgif {
  position: absolute;
  bottom: -60px;
  width: 50%;
  left: 20px;
}
.hyundai-ex-list-percent {
  float: right;
  margin-top: 128px;

  li {
    width: 240px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .hyunday-percent-key {
    color: #fff;
    font-size: 24px;
    float: left;
    padding: 7px 0;
  }
  .hyundai-percent-val {
    float: right;
    font-size: 36px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
}
.hpv-1 {
  color: #60c89f;
}
.hpv-2 {
  color: #5cb0b5;
}
.hpv-3 {
  color: #527aa1;
}
.hpv-4 {
  color: #f5bf67;
}
.hpv-5 {
  color: #f07860;
}
.toyota-example {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e1e1e+0,6d6d6d+100 */
  background: #1e1e1e; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWUxZTFlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZkNmQ2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  #1e1e1e 0%, #6d6d6d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1e1e1e), color-stop(100%,#6d6d6d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #1e1e1e 0%,#6d6d6d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #1e1e1e 0%,#6d6d6d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #1e1e1e 0%,#6d6d6d 100%); /* IE10+ */
  background: linear-gradient(135deg,  #1e1e1e 0%,#6d6d6d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#6d6d6d',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.hyundai-example-left, .hyundai-example-right,
.bmw-example-left, .bmw-example-right,
.toyota-example-left, .toyota-example-right {
  position: relative;
  width: 60%;
}
.hyundai-example-left, .bmw-example-left, .toyota-example-left {
  float: left;
}
.hyundai-example-right, .bmw-example-right, .toyota-example-right {
  float: right;
  width: 40%;
  padding-left: 70px;
  text-align: center;

  /*@include beforeCenter;*/

  .hyundai-example-title {
    text-align: center;
  }
}
.mobile-hyundai-ex-list {
  display: none;
}
.handgif-mobile {
  display: none;
}
.hyundai-example-title, .toyota-example-title, .bmw-example-title {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.toyota-example-title {
  color: #fff;
  margin-bottom: 70px;
}
.bmw-example-title {
  color: #fff;
  margin-bottom: 70px;
}
.hyundai-ex-1 {
  width: 100%;
  margin-top: 80px;
}
.hyundai-diagramma {
  margin-top: 80px;
  width: 100%;
}

.people-percent {
  margin: 40px auto 0 auto;
  display: inline-block;

  .people-pc-val {
    color: #CA5353;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    font-size: 24px;
    font-weight: 700;
  }
}
.people-mans, .people-womans {
  float: left;
   
  img {
    display: block;
    margin: 0 auto;
    height: 111px;
  }
}
.people-mans {
  margin-right: 30px;

  .people-pc-val {
    color: #5A8DC7;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  }
}
.people-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
.toyota-example-right, .bmw-example-right {
  .people-percent {
    vertical-align: middle;
  }
  .people-title {
    color: #fff;
  }
  .people-mans .people-pc-val {
    color: #3faaee;
  }
  .people-womans .people-pc-val {
    color: #e76767;
  }
}
.bmw-example-right {
  .people-percent {
    vertical-align: middle;
  }
  .people-title {
    color: #fff;
  }
}
.toyota-example-left .toyota-product-percent,
.bmw-example-left .bmw-product-percent {
  float: right;
  width: 30%;
  li {
    width: 210px;
  }
  .product-another {
    font-size: 24px;
    margin: 9px 0;
  }
}
.bmw-example-left .bmw-product-percent {
  .product-another {
    color: #fff;
    text-shadow: none;
  }
}
.toyota-e-diagramm, .bmw-e-diagramm {
  float: left;
  width: 70%;
  padding-right: 40px;
  max-width: 420px;
}
.bmw-e-diagramm {
  margin-top: -23px;
}
.toyota-e-diagramm {
  margin-top: -26px;
}
.toyota-e-mobilefix {
  display: none;
}

.hyundai-stats, .bmw-stats, .toyota-stats {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 70px 0 80px 0;
  box-shadow: inset 0 0 10px 8px rgba(0, 0, 0, 0.23);
}
.hyundai-stats {
  background-image: url(../images/huyndai-stat-bg.png);
}
.bmw-stats {
  padding: 46px 0 80px 0;
  background-image: url(../images/bmw-stat-bg.png);
}
.toyota-stats {
  background-image: url(../images/toyota-stat-bg.png);
}

.stats-left {
    float: left;
    width: 37%;
    padding-right: 10px;
}
.stats-red-info, .stats-yellow-info {
  line-height: 40px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  text-shadow: $textShadow;
}
.stats-yellow-info {
  margin-top: 10px;
}
.red-c, .yellow-c {
  float: left;
  width: 50px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.57);
  border: 1px solid #fff;
  margin-right: 10px;  
}
.red-c {
  background-color: #ac2920;
}
.yellow-c {
  background-color: #f88e12;
}

.stats-list {
  margin-top: 26px;

  li {
    overflow: hidden;
    border-bottom: 2px solid #fff;
    margin-bottom: 7px;
  }
  li:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}
.stats-title {
  text-shadow: $textShadow;
  font-size: 24px;
  color: #fffffe;
}
.stats-val {
  float: left;
}
.stats-title {
  line-height: 110px;
  text-align: center;
}
.stat-by {
  background: url(../images/ybs.png) no-repeat center;
  background-size: contain;
  width: 330px;
  padding: 18px 40px 24px 0;
  text-align: right;  
  margin-left: -6px;
}
.stat-sr {
  background: url(../images/rss.png) no-repeat center;
  background-size: contain;
  width: 155px;
  padding: 18px 32px 24px 0;
  text-align: right;
  margin-left: -4px;
  margin-bottom: -12px;
}

.stats-right {
  float: right;
  width: 60%;

  img {
    float: left;
    width: 32%;
    margin-right: 3px;

    &:nth-child(3) {
      margin-right: 0;
    };
  }
}
.stats-screen {
  width: 100%;
}

.bmw-stats-title, .toyota-stats-title {
  text-shadow: $textShadow;
  color: #fff;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.bmw-stats-left {
  float: left;
  width: 70%;
}
.bmw-stats-right {
  float: right;
  width: 30%;
  padding-left: 20px;
}
.bmw-s-diagramm {
  margin-top: 50px;
  width: 100%;
}
.bmw-b-r-prod-list {
  margin-top: 50px;

  li {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: hidden;

    img {
      padding-top: 6px;
    }

    &:last-child {
      margin-bottom: 0;
    };
  }

  .bmw-prod-perc {
    float: right;
    font-size: 25px;
  }
  .bmw-prod-another {
    text-transform: uppercase;
    padding-top: 6px;
    display: block;
    float: left;
  }
}
.bmw-mac-prod {
  padding-top: 0;
}
.bpp-1 {
  color: #5fc99d;
}
.bpp-2 {
  color: #5cb0b5;
}
.bpp-3 {
  color: #3998eb;
}
.bpp-4 {
  color: #f5bf67;
  line-height: 58px;
}
.bpp-5 {
  color: #f07860;
}
.bmw-stats-text {
  margin-top: 50px;

  p {
    color: #fff;
    font-size: 24px;
    margin: 0;
  }
  p:first-child {
    margin-bottom: 5px;
  }
}
.bmw-stats-left-img {
  margin: 34px 0 48px 0;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.22);
}
.bmw-screens {
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
  width: 23.5%;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.22);

  &:last-child {
    margin-right: 0;
  }
}

.toyota-stats-top {
  margin-top: 60px;
}
.toyota-stats-screens-list {
  float: left;

  img {
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
    width: 23.5%;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.22);

    &:last-child {
      margin-right: 0;
    }
  }
}
.toyota-stats-top {
  .toyota-stats-stripes {
    float: right;
  }

  .stats-inf {
    text-align: right;

    .red-c, .yellow-c {
      float: right;
      margin-right: 0;
      margin-left: 10px;
    }
  }
}
.toyota-stats-bottom {
  margin-top: 35px;
}
.toyota-stats-list {
  margin-top: 26px;

  li {
    overflow: hidden;
    border-bottom: 2px solid #fff;
    margin-bottom: 7px;
  }
  li:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}
.toyota-stats-title {
  text-shadow: $textShadow;
  font-size: 24px;
  color: #fff;
}
.toyota-stats-val {
  float: right;
}
.toyota-stats-s-title {
  line-height: 110px;
  text-transform: uppercase;
  text-align: center;
}
.toyota-stat-by {
  background: url(../images/bys-right.png) no-repeat center;
  background-size: contain;
  width: 280px;
  padding: 18px 0 24px 40px;
  text-align: left;  
  margin-right: -6px;
  margin-top: 49px;
}
.toyota-stat-sr {
  background: url(../images/rss-right.png) no-repeat center;
  background-size: contain;
  width: 128px;
  padding: 18px 0 24px 32px;
  text-align: left;
  margin-right: -4px;
  margin-bottom: -12px;
  float: right;
}

.toyota-stats-b-l {
  float: left;
}
.toyota-b-l-devises {
  overflow: hidden;
}
.toyota-stats-note {
  background: url(../images/toyota-stats-note.png) no-repeat center;
  background-size: contain;
  line-height: 144px;
  color: #fff;
  font-size: 30px;
  text-shadow: $textShadow;
  float: left;
  text-align: center;
  width: 110px;
  height: 144px;
}
.toyota-stats-phone {
  float: left;  
  margin-left: 20px;

  img {
    margin-top: 56px;
  }
}
.stats-phone-percent {
  color: #fff;
  font-size: 30px;
  text-shadow: $textShadow;
  float: left;
  padding: 112px 0 0 14px;
}
.toyota-stats-oss {
  margin-top: 50px;
}
.toyota-stats-oss-item {
  overflow: hidden;

  span {
    line-height: 62px;
    float: left;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
    text-shadow: $textShadow;
  }
}
.toyota-stats-oss {
  .toyota-stats-oss-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.stats-os-img {
  width: 62px;
  height: 62px;
  border: 2px solid #00f9ff;
  background-color: #00537e;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  float: left;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}
.os-img-1 {
  background-image: url(../images/toyota-stats-android.png);
}
.os-img-2 {
  background-image: url(../images/toyota-stats-win.png);
}
.os-img-3 {
  background-image: url(../images/toyota-stats-mac.png);
}
.stats-os-progress {
  width: 164px;
  height: 24px;
  margin: 19px 0 0 -6px;
  background-color: #fff;
  box-shadow: 0 0 5px 1px #fff;
  float: left;
}
.stats-progress-value {
  height: 24px;
  border: 1px solid #00f9ff;
  border-right: 4px solid #14999C;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000b0c+0,007c7f+26,00f0f7+100 */
  background: #000b0c; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMGIwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iIzAwN2M3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGYwZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  #000b0c 0%, #007c7f 26%, #00f0f7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000b0c), color-stop(26%,#007c7f), color-stop(100%,#00f0f7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #000b0c 0%,#007c7f 26%,#00f0f7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #000b0c 0%,#007c7f 26%,#00f0f7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #000b0c 0%,#007c7f 26%,#00f0f7 100%); /* IE10+ */
  background: linear-gradient(to right,  #000b0c 0%,#007c7f 26%,#00f0f7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000b0c', endColorstr='#00f0f7',GradientType=1 ); /* IE6-8 */
}
.os-item-1 {
  .stats-progress-value {
    width: 72%;
  }
}
.os-item-2 {
  .stats-progress-value {
    width: 20%;
  }
}
.os-item-3 {
  .stats-progress-value {
    width: 8%;
  }
}

.toyota-stats-b-r {
  float: right;
  overflow: hidden;
  padding-top: 87px;
}
.toyota-product-percent, .bmw-product-percent {
  float: right;
  li {
    width: 228px;
    overflow: hidden;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    };
  }
  img {
   float: left;
   margin: 13px 0;
  }
  span {
    float: right;
    font-size: 36px;
    text-shadow: $textShadow;
  }
  .product-another {
    font-size: 24px;
  }
}
.bmw-product-percent {
  span {
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.53);
  }
}
.product-another {
  float: left !important;  
  margin: 7px 0;
}
.ts-s {
  color: #61c7a1;
}
.ts-n {
  color: #5cb0b5;
}
.ts-l {
  color: #4d87c0;
}
.ts-m {
  color: #f5bf67;
  line-height: 67px;
}
.ts-a {
  color: #f07860;
}
.toyota-s-diagramm {
  float: right;
  margin-left: 80px;
}

/* === Contacts === */
.contacts-bg {
  height: 100%;
  padding: 0;

  @include beforeCenter;
}
.bgvideo, .video-mask {
  position: fixed;
  right: 0;
  left: 270px;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;  
}
.video-mask {
  z-index: -9990;
  background: url(../images/video-mask.png) repeat center;
}

.contacts-title {
  text-align: center;
  text-shadow: 0 1px 5px #000;
  color: #fff;
  font-size: 30px;
  margin-bottom: 80px;
}
.contacts-content {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 40px 10%;
}

.contacts-left-block {
  float: left;
}
.contacts-right-block {
  float: right;
}

.contacts-form-row {
  margin-bottom: 10px;

  label {
    margin-bottom: 10px;
    color: $cForm;
    font-size: 18px;
    display: block;
    text-align: right;
  }
  textarea {
    max-height: 220px;
    min-height: 120px;
  }
}
.text-input {
  border: 2px solid $cForm;
  background-color: transparent;
  color: $cForm;
  padding: 8px 15px;
  outline-style: none;
  width: 326px;
  height: 42px;
  font-weight: 300;
  font-size: 18px;
  box-shadow: inset 0 0 14px 5px rgba(0, 0, 0, 0.5);

  @include tAllFastOut;

  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0.5);
  };
}
.text-submit {
  float: right;
  border: 2px solid $cForm;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  padding: 7px 20px;
  background-color: transparent;
  color: $cForm;
  outline-style: none;
  box-shadow: 0 0 14px 5px rgba(0, 0, 0, 0.5);

  @include tAllFastOut;

  &:hover {
    color: #484848;
    background-color: #fff;    
  };
}

.contacts-list {
  li {
    overflow: hidden;
    line-height: 46px;
    color: $cForm;
    margin-bottom: 18px;
    font-size: 15px;
    text-shadow: 0 0px 9px #000;
  }
}
.contacts-img-wrap {
  float: left;
  border: solid 2px #fff;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 50% 50%;
  background-size: 26px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  margin-right: 18px;
}
.ciw-1 {
  background-image: url(../images/contacts-img-1.png);
}
.ciw-2 {
  background-image: url(../images/contacts-img-2.png);
}
.ciw-3 {
  background-image: url(../images/contacts-img-3.png);
}
.ciw-4 {
  background-image: url(../images/contacts-img-4.png);
}
.contacts-map {
  width: 280px;
  height: 280px;
  border: 4px solid #4C4C4C;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 14px 8px rgba(0, 0, 0, 0.5);
  position: relative;

  iframe {
    height: 340px;
    margin-top: -4px;
    margin-left: -4px;
  }
}
